.btn-grad {
background-image: linear-gradient(to right, #F28482 0%, #F6BD60  51%, #F28482  100%);
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: #ffffff;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
width: 160px;
}

.btn-grad:hover {
background-position: right center; /* change the direction of the change here */
color: #ffffff;
text-decoration: none;
}

.btn-grad:visited {
  color: #ffffff;
}
