.sidebar-pos {
  width: 40px;
  position: fixed;
  bottom: 72px;
  left: 40px;
  right: auto;
  z-index: 10;
  font-size: 1.7rem;

}

#sidebar a {
  color: #F5CAC3;
}

#sidebar a:visited {
  color: #F5CAC3;
}

#sidebar a:hover {
  color: #F28482;
}


@media only screen and (max-width: 768px) {
  .sidebar-pos {
    display: none;
  }
}
